<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- <title>Color Picker</title> -->

        <!-- JQEURY -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

        <!-- BUILD HEAD -->
        <script type="module" src="../modules/headblade.js"></script>
    </head>

    <header></header>

    <body class="explore">
        <!-- start banner title -->
        <div class="container-fluid explore-hero">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1 class="display-1"><b>Explore</b></h1>
                        <div class="wave-wrapper">
                            <div class="wavy-line yellow"></div>
                        </div>
                        <div class="star-wrapper">
                            <div id="star-five"></div>
                        </div>
                        <div class="sprinkles"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end banner title -->
        <!-- start search bar -->
        <div class="container-fluid py-3 light-grey-bg">
            <div class="row">
                <div class="col-md-12">
                    <!-- Search form -->
                    <form class="form-inline search-wrap">
                        <input class="form-control form-control-md mr-3" type="text" placeholder="Search"
                        aria-label="Search">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </form>
                </div>
            </div>
        </div>
        <!-- end search bar -->
        <!-- start content -->
        <div class="container">
            <div class="row" id="root">
            </div>
        </div>
        <!-- end content -->

         <!-- The core Firebase JS SDK is always required and must be listed first -->
         <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js"></script>

         <!-- TODO: Add SDKs for Firebase products that you want to use
             https://firebase.google.com/docs/web/setup#available-libraries -->
         <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-analytics.js"></script>
         <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-auth.js"></script>
         <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-firestore.js"></script>
 
         <script>
         // Your web app's Firebase configuration
         // For Firebase JS SDK v7.20.0 and later, measurementId is optional
         var firebaseConfig = {
             apiKey: "AIzaSyDpH-Ox4GLCYKOgv1phsuyH8_uQ4QFLpPU",
             authDomain: "colorpicker-75bbe.firebaseapp.com",
             databaseURL: "https://colorpicker-75bbe.firebaseio.com",
             projectId: "colorpicker-75bbe",
             storageBucket: "colorpicker-75bbe.appspot.com",
             messagingSenderId: "46363501564",
             appId: "1:46363501564:web:1cd66985830bcb38e2c879",
             measurementId: "G-681EFBGVN0"
         };
         // Initialize Firebase
         firebase.initializeApp(firebaseConfig);
         firebase.analytics();
 
         const auth = firebase.auth();
         const db = firebase.firestore();
 
     </script>

        <!-- Include links to JavaScript files below -->
        <!-- TODO: Add link to jQuery here -->
        <!-- throwing error: disallowed MIME type <script src="node_modules/jquery/dist/jquery.js"></script> -->
        <!-- <script src="render.js" type="module"></script> -->
    </body>
</html>