<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- <title>Color Picker</title> -->

        <!-- JQEURY -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

        <!-- BUILD HEAD -->
        <script type="module" src="../modules/headblade.js"></script>
    </head>

    <header>
        
    </header>

    <body>
        <div class="container d-flex flex-row justify-content-center">
            <div class="row login-width">
                <div class="col-md-12 d-flex flex-column justify-content-center">
                    <!-- page title -->
                    <div class="container title">
                        <h1 class="display-1">Sign Up</h1>
                        <div class="highlight-bg"></div>
                    </div>
                    <!-- start login form -->
                    <div class="container py-5">
                        <div class="row">
                            <div class="col-md-12 my-3">
                                <input class="form-control form-control-lg" type="text" id="email" placeholder="Email Address">
                            </div>
                            <div class="col-md-6">
                                <!-- USE CLASSES .valid AND .invalid WHEN SOMEONE TRIES TO LOGIN -->
                                <input class="form-control form-control-lg" type="text" id="username" placeholder="Username">
                            </div>
                            <div class="col-md-6">
                                <input class="form-control form-control-lg" type="text" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="row py-3 px-1">
                            <button type="button" class="btn btn-simple signup-btn mx-3" id="signup-btn-2"><p>Create My Account</p></button>
                        </div>
                    </div>
                    <!-- end login form -->
                </div>
            </div>

        </div>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-auth.js"></script>

        <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyDpH-Ox4GLCYKOgv1phsuyH8_uQ4QFLpPU",
            authDomain: "colorpicker-75bbe.firebaseapp.com",
            databaseURL: "https://colorpicker-75bbe.firebaseio.com",
            projectId: "colorpicker-75bbe",
            storageBucket: "colorpicker-75bbe.appspot.com",
            messagingSenderId: "46363501564",
            appId: "1:46363501564:web:1cd66985830bcb38e2c879",
            measurementId: "G-681EFBGVN0"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();

        const auth = firebase.auth();
        </script>

        <!-- Include links to JavaScript files below -->
        <!-- TODO: Add link to jQuery here -->
        <!-- throwing error: disallowed MIME type <script src="node_modules/jquery/dist/jquery.js"></script> -->
        <!-- <script src="render.js" type="module"></script> -->
    </body>
</html>