@media only screen and (min-width: 990px) {
    #navbarNav {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    /* LOGIN PAGE */
    /* keep login form in the center of page */
    .login-width {
        width: 100%;
    }

    /* PROFILE PAGE */
    /* undo rotation of stylized username */
    #profile-username {
        transform: none;
        font-size: 3rem !important;
        padding-top: 20px;
    }
}