/* GLOBALS */
:root {
    --pink: #F2858E;
    --blue-sat: #03258C;
    --blue-desat: #18358C;
    --mint: #5ABF90;
    --yellow: #F2CA50;
    --light-grey: #ececec;
    --grey: #A3A3A3;
    --dark-grey: #575757;
    --darker-grey: #242424;
}

.light-grey-bg {
    background: var(--light-grey);
}

* {
    font-family: 'Work Sans', sans-serif;
}
*:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none;
}

.row {
    max-width: 100vw;
}

p {
    margin-bottom: 0;
}

.btn-simple {
    border-radius: 0%;
    height: min-content;
}
.btn-simple:hover {
    border-bottom: solid var(--mint) 2px;
}

/* ------------ ELEMENT STYLING --------------- */

/* NAVBAR */
nav {
    width: 100vw;
    top: 0;
}

.navbar {
    background-color: var(--light-grey) !important;
    /* background-image: linear-gradient(rgb(200,200,200) 80%, rgb(180,180,180)); */
}

#navbarNav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* FORMS */
input {
    border: var(--grey) 1px solid !important;
}

input.valid {
    border-color: var(--mint) !important;
}
input.invalid {
    border-color: var(--pink) !important;
}

/* WAVYLINE */
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0)
    }
    50% {
        transform: translateX(-25%) translateZ(0)
    }
    100% {
        transform: translateX(-50%) translateZ(0)
    }
}

.wave-wrapper {
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 50;
}

.wavy-line.yellow {
    background-image: url('images/wavylineyellow.png');
}
.wavy-line.mint {
    background-image: url('images/wavylinemint.png');
}
.wavy-line.blue {
    background-image: url('images/wavylineblue.png');
}
.wavy-line.pink {
    background-image: url('images/wavylinepink.png');
}

.wavy-line {
    width: 200%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    animation: move_wave 55s linear infinite;
}

/* STAR */
@keyframes turn-star {
    to {
        transform: rotate(360deg);
    }
}

.star-wrapper {
    height: 450px;
    width: 450px;
    position: absolute;
    right: -150px;
    bottom: -230px;

    animation: turn-star 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

#star-five {
    background-image: url('images/starpink.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

/* SPRINKLES */
@keyframes fall-sprinkles {
    to {
        transform: translateY(100%);
    }
}

.sprinkles {
    width: 100%;
    height: 550px;
    background-image: url('images/sprinkles.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: calc(100% + 45px);
    left: 0;

    animation: fall-sprinkles 0.5s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}


/* ------------ SPECIFIC PAGES --------------- */

/* LOGIN */
.login-width {
    width: 75%;
    height: 100vh;
}

.login-width .title {
    position: relative;
}
.login-width .title h1 {
    position: relative;
    z-index: 99;
}
.login-width .title .highlight-bg {
    background: var(--yellow);
    height: 70%;
    width: 80%;
    min-width: 280px;

    position: absolute;
    top: 10%;
    left: 0;
    z-index: 0;
}

/* EXPLORE PAGE */
.explore-hero {
    background: var(--mint);
    padding-top: 45px;
    padding-bottom: 60px;
    overflow: hidden;
}

.explore-hero h1 {
    position: relative;
    z-index: 999;
}

.explore-hero .wave-wrapper {
    left: 20px;
    width: 350px;
}
.explore-hero .wavy-line {
    width: 2700px;
}

.explore .search-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.explore .search-wrap .form-control {
    background: rgba(255, 255, 255, 0.5);
    width: calc(100% - 50px);
}