.color-card {
    margin: 40px 30px 0 30px;
    height: 180px;
    border-radius: 20px;
    border: none;
    position: relative;
    overflow: hidden;
}

.color-card .color-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
}
.color-card .color-container .color {
    height: 100%;
    width: 20%;
}

.color-card .information {
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;

    transition: ease-in-out;
    -moz-transition: ease-in-out;
    -o-transition: ease-in-out;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}
.color-card:hover .information {
    transform: translateY(100%);
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    display: none;
}
.color-card:hover .delete-btn {
    display: block;
}
.delete-btn:hover {
    background-color: black;
    color: white;
}